.tablet-gallery {
   z-index: 2;
   position: relative;
   height: 80vh;
   background-color: $desktop-green;

   .slider-container{
      padding-bottom: 3.5%;
      width: 85.5%;
      height: 100%;

      .slider-touch {

         .slider-wrapper {
            width: 100%;
            margin: auto;

            .slider-item {
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
            }
         }
      }

      .slider-pagination {
         bottom: 3.5%;
         left: 0;

         .slider-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 100;
            background-color: black;
         }

         .slider-pagination-bullet-active {
            background-color: white;
         }
      }
   }
}