.mobile-gallery {
   z-index: 2;
   position: relative;
   height: 100vh;
   min-height: 100vw;
   background-color: $desktop-green;
   overflow: hidden;

   .slider-container{
      padding-bottom: 16%;
      padding-top: 2%;
      width: 85.5%;
      height: 100%;
      margin: 0;
      overflow: visible;

      .slider-touch {

         .slider-wrapper {
            width: 100%;
            margin: 0;

            .slider-item {
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
            }
         }
      }

      .slider-pagination {
         bottom: 4.5%;
         left: 8.6%;

         .slider-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 100;
            background-color: black;
         }

         .slider-pagination-bullet-active {
            background-color: white;
         }
      }
   }
}